<h1>Commentaires</h1>
<div id="comments">
    <% @menu.comments.each do |comment|%>
      <%= render :partial => "comment/comment", :locals => {:comment => comment } %>           
    <% end %>
</div>
<% if logged_in? %>
   <h5>Laisser un commentaire</h5>
   <% remote_form_for :comment, :url=>{:controller=>"comment", :action=>"new", :id=>@menu.id } do |f| %>
       Title: <%= f.text_field "title" %><br>
       Comment:<br>
       <%= f.text_area "comment", :rows=>5, :cols=>35 %><br>
       <%= submit_tag "Ajouter un commentaire"%>
   <% end %>
<% end %>