<% for column in Menu.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @menu.send(column.name) %>
</p>
<% end %>

<%= link_to 'Editer', edit_menu_path(@menu) %> |
<%= link_to 'Retour', menus_url %>

      