<% panel do %>
<div>
    Description 
</div>
<div>
    <%= simple_format h(@menu.description) %>
</div>
</br>
<div>
    Lien 
</div>
<div>
    <%= link_to h(@menu.url), h(@menu.url) %>
</div>
</br>
<div>
    Ingredients 
</div>
<% if @menu.ingredients %>
	<% fieldset do %>
		<% for ingredient in @menu.ingredients %>
		  <% row_label do %>
		    <%= simple_format h(ingredient) %>
		  <% end %>
		<% end %>
	<% end %>
<% end %>
<%end%>
