*.log
*.pid
config/database.yml
config/mongrel_cluster.yml
config/settings.yml
config/initializers/action_mailer.rb
db/schema.rb
db/*.sqlite3
tmp/
vendor/rails
.DS_Store
.bundle/
scratch_directory/
lib/tasks/
*.rails2
Gemfile.lock
todo.txt
vendor/plugins/rails_upgrade
coverage
