*.log
*.pid
config/database.yml
config/mongrel_cluster.yml
config/settings.yml
config/initializers/action_mailer.rb
db/schema.rb
tmp/**/*
vendor/rails
.DS_Store
scratch_directory/
lib/tasks/
tmp/
.bundle/
*.sqlite3
doc/
