[submodule "vendor/plugins/acts_as_taggable_on_steroids"]
	path = vendor/plugins/acts_as_taggable_on_steroids
	url = git://github.com/mattetti/acts_as_taggable_on_steroids.git
[submodule "vendor/plugins/acts_as_commentable"]
	path = vendor/plugins/acts_as_commentable
	url = git://github.com/jackdempsey/acts_as_commentable.git
[submodule "restful-authentication"]
	path = restful-authentication
	url = git://github.com/technoweenie/restful-authentication.git
[submodule "vendor/plugins/will_paginate"]
	path = vendor/plugins/will_paginate
	url = git://github.com/mislav/will_paginate.git
[submodule "vendor/plugins/restful-authentication"]
	path = vendor/plugins/restful-authentication
	url = git://github.com/technoweenie/restful-authentication.git
[submodule "vendor/plugins/prawnto"]
	path = vendor/plugins/prawnto
	url = git://github.com/thorny-sun/prawnto.git
