<% form_tag '/recherche/find', :class => 'searchform' do -%>
   <p><%= text_field_tag 'mot', '', :size => 15, :class => 'textbox' %>
   <%= submit_tag 'Rechercher', :class => 'button' %>
   </p>
<% end -%>
