<% form_tag "/recherche/update", :class => "searchform" do -%>
   <p><%= text_field_tag "mot", "", :size => 15, :class => "textbox" %>
   <%= submit_tag t("mdls.search"), :class => "button" %>
   </p>
<% end -%>
