<% form_tag "/recherche/find", :class => "panel", :title => "Recherche" do %>
<fieldset>
    <div class="row">
        <%= text_field_tag "mot", "", :size => 15, :class => "textbox" %>
    </div>
    <div>
        <%= submit_tag t("mdls.search"), :class => "whiteButton" %>
    </div>
</fieldset>
<% end -%>
