 Vous avez demandé la modification de votre mot de passe pour  <%= @user.login %>
 
 Visitez ce lien et choisissez un nouveau mot de passe :

 <%= @url %>

 (Votre password restera inchangé si vous ne faites rien)

