<div class="byline">
<% @menu = menu_from_comment(comment)  %>
	<%= link_to %Q{#{@menu.title}}, menu_path(@menu) %>
	<div><%= summary(comment.comment) %></div>
	<%= User.find(comment.user_id).login %> : <%= comment.created_at.to_formatted_s(:short) %> 
</div>
