<h1>Commentaires</h1>
<%= render :partial => "comments/comment" %>
<div class="inpcomm">
<% if current_user %>
   <h2>Laisser un commentaire</h2>
   <% remote_form_for :comment, :url=>{:controller=>"comments", :action=>"new", :id=>@menu.id } do |f| %>
       <%= f.text_area "comment", :rows=>6, :cols=>60 %><br />
       <%= f.submit  "Ajouter un commentaire", :class => 'button'%>
   <% end %>
<% end %>
</div>