<h1>Commentaires</h1>
<div id="comments">
    <% @menu.comments.each do |comment|%>
      <%= render :partial => "comments/comment", :locals => {:comment => comment } %>           
    <% end %>
<% if logged_in? %>
   <h2>Laisser un commentaire</h2>
   <% remote_form_for :comment, :url=>{:controller=>"comments", :action=>"new", :id=>@menu.id } do |f| %>
       <p>Title: <%= f.text_field "title" %><br></p>
       <p>Comment:</p>
       <p><%= f.text_area "comment", :rows=>5, :cols=>35 %></p>
       <p><%= submit_tag "Ajouter un commentaire", :class => 'button'%></p>
   <% end %>
<% end %>
</div>
