   <h1>Nouveau</h1>
<% form_tag :action => 'create' do %>
  <%= render :partial => 'form' %>
  <p><%= submit_tag "Créer" , :class => 'button'%></p>
<% end %>

<p class="post-footer align-right">	
<%= link_to 'Retour', :action => 'list' %>
</p>
