/*

 vert : a1bf20
 orange : efbf34
 gris : 45494d
 gris 2 : 2a3138
 
/* top elements */
* { margin:0; 	padding: 0; }

body {
     margin: 0; padding: 0;
     font: 70%/1.5em  Verdana, Tahoma, Arial,sans-serif;
     color: #FFFFFF;
     background: #45494d url(/images/default/bgr.jpg) repeat-x top ;
     text-align: center;
}

/* links */
a {
  color: #efbf34;
  background-color: inherit;
  text-decoration: none;
}
a:hover {
	color: #575757;
	background-color: inherit;
}

/* headers */
h1, h2, h3 {
	font-family: 'Trebuchet MS', Tahoma, Verdana, Sans-serif;
	font-weight: Bold; 		
}
h1 {
	font-size: 145%;	
	padding: 10px 10px 5px 10px;
	color: #ffffff; /* color: #75A54B;*/
	background-color: inherit;
	border-bottom: 1px solid #EFF0F1;		
}
h2 {
	font-size: 125%;
	text-transform: uppercase;
}
h3 {
	font-size: 125%;	
	color: #ffffff; /* #404040;*/
}

h2, h3, p {
	padding: 10px;		
	margin: 0;
}


ul, ol {
	margin: 10px 20px;
	padding: 0 20px;
}

blockquote {
	margin: 10px;
 	padding: 0 0 0 32px;  	
  	background: #FAFAFA url(/images/citrusIsland/quote.gif) no-repeat 5px 10px !important; 
	background-position: 8px 10px;
	border: 1px solid #f2f2f2; 
	border-left: 4px solid #FF9966;   
}

/* form elements */
form {
	margin:10px; padding: 5px;
	border: 1px solid #f2f2f2; 
	background-color: inherit;
}
label {
	display:block;
	font-weight:bold;
	margin:5px 0;
}
input {
	padding: 3px;
	border:1px solid #eee;
	font: normal 1em Verdana, sans-serif;
	color:#777;
}
textarea {
	width:350px;
	padding:3px;
	font: normal 1em Verdana, sans-serif;
	border:1px solid #eee;
	height:100px;
	display:block;
	color:#777;
}
input.button { 
	margin: 0; 
	font: bolder 12px Verdana, Sans-serif; 
	border: 1px solid #CCC; 
	padding: 2px 3px; 
	background: #2a3138;
   color: #a1bf20;
}

input.button:hover { 	
   color: #efbf34;
}
/* search form */
form.searchform {
	position: absolute;
	top: 60px; left: 5px;
	padding: 0; margin: 0;
	border: none;
	background-color: transparent; 
}
form.searchform input.textbox { 
	margin: 0; 
	width: 200px;
	border: 1px solid #CCC; 
	background: #FFF;
	color: #333; 	
	vertical-align: top;
}
form.searchform input.button {
	width: 90px;
	vertical-align: top;
}


/**************************************
   LAYOUT 
***************************************/	
#wrap {
	margin: 0 auto; 
	padding: 0; 
	width: 900px; 
	text-align: left;
}

/* header */
#header { 
	position: relative;
	height: 100px;
	margin: 0; padding: 0;
	color: #808080; 		
   background:   url(/images/default/bgr.jpg) repeat-x top ;
}
#header h1 {
	border: none;	    
}

#header h1#logo a {
	position: absolute;	
	/*font: bold 2.8em "trebuchet MS", Arial, Tahoma, Sans-Serif;*/
   font: bold 2.4em  "Sanvito" ;
	margin: 0; padding:0;
	color: #a1bf20; /* #75A54B; */
	letter-spacing: -3px;	
	
	/* change the values of top and Left to adjust the position of the logo*/
	top: 1px; left: 2px;		
}
#header h1#logo span {
  color: #efbf34;
  }

#header p#slogan { 
	position: absolute;
	margin: 0; padding: 0;	
	font: bold 12px Arial, Tahoma, Sans-Serif;	
	text-transform: none;
	color: #ffffff;
	/* change the values of top and Left to adjust the position of the slogan*/
	top: 34px; left: 45px;
}

/* menu */
#menu {
   position: absolute;   
	margin: 0;
   padding: 0;
	font:  1.2em/30px bold Tahoma, Verdana, Arial, Sans-Serif;		   
   top: 0px; left: 400px;
   overflow: hidden;
   width: 500px;
}
#menu ul{
	margin: 0; padding: 0 0 0 8px;

}
#menu ul li {
	float: left;
   list-style: none;		
	border-left: 1px solid #6b7e95;   
}
#menu ul li a {
	display: block;
	height: 30px;
   text-decoration: none;	
	padding: 10px 15px;
	color: #FFFFFF;
   background: #4d5b72; 
   width: 80px ;
   text-align: center;
   background:   url(/images/default/bgr_menu.jpg) repeat-x top ;
}
#menu ul li a:hover {
  	
   background:  url(/images/default/bgr_menu_h.jpg) repeat-x top ;

	/*background: url(/images/citrusIsland/menu-hover-bg.gif) repeat-x;*/
}
#menu ul li#current a {
	color: #333;
	background: url(/images/citrusIsland/menu-current-bg.gif) repeat-x;	
}

/* sidebar */
#sidebar {
   position: absolute;
	right: 0px;
	width: 200px; 
   height: 80%;
	margin: 0;	padding: 0; 
	display: inline;
   padding: 0 10px 0 10px;
   border-left: 1px solid #CCC; 
}

/* main column */
#main {
	float: left;
	margin: 0 0 0 15px;
	padding: 0;
	width: 75%;	
}


#content-wrap {
  height: 525px;
}

/* footer */
#footer { 
   position: relative;
   clear: both; 	
	color: #666666; 	
	padding: 0;	 
	background: #F9864D;
   height: auto !important; height: 526px; 
}
#footer a { 
	text-decoration: none; 
	font-weight: bold;
}
#footer-content {
	margin: 0 auto;
	width: 800px
}
#footer-content #footer-left {
	padding: 10px;
	width: 60%;
	float: left;
	text-align: left;
}
#footer-content #footer-right {
	padding: 10px;
	width: 33%;
	float: right;
	text-align: right;
}

/* alignment classes */
.float-left  { float: left; }
.float-right { float: right; }
.align-left  { text-align: left; }
.align-right { text-align: right; }

/* additional classes */
.clear  { clear: both; }
.green  { color: #75A54B; }



/***********************************************/
/*  special */
/***********************************************/
/* liste de menus */

#liste_style ul li {
   border-top: 1px dotted #FFA500;
	border-left: 8px solid #F9864D; 
}

#liste_style .menu_liste_1 {
  background: url(/images/citrusIsland/menu-current-bg.gif) repeat-x;	
}


#drag_menu  {
  height: 10px ;
  background: #2a3138;  
  margin-bottom: 3px ;
}

#semaine_style .mnu_elt {
  border: 0px ;
  border: 1px solid #2a3138; 
}

/* compteur */
#compteur {
	bottom: 5px; right: 20px;
   display: none;   
}   

/* menu_cart */


/*configuration du panier */
div.cart-active { 
  background: #2a3138;
}

div.cart {
  clear:both;
  top: 0px;
  padding: 0px;
  margin: 0px;
}

#msg_cart {
  padding:3px;
  color:#ccc;
  border:1px dashed #888;
  font-size:9px;  
  text-align:center;
}

.cart_elt {
  background: #2a3138;
  padding:2px;
  border: 0px ;
}


 /* surcharge de la pagination */
div.pagination a {
	background: #45494d;
   color: #a1bf20;
   border: 1px solid #2a3138;
}
div.pagination a:hover, div.pagination a:active {
	border: 1px solid #2a3138;
	color: #638425;
	background: #45494d;
   color: #efbf34;
}
div.pagination span.current {
	border: 1px solid #2a3138;
	background-color: #45494d; /*#B2E05D;*/
	color: #FFF;
}
div.pagination span.disabled {
	border: 2px solid #45494d; /*#B2E05D;*/
	background-color: #45494d; /*#B2E05D;*/
	color: #45494d;
}
