
/* générique */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
li{list-style:none;}
a {text-decoration:none;}

.full { width: 100%;}
.hidden { display: none;}
.right { float: right; }
.left { float: left; }
.cb { clear: both; height: 0px;}

html{color:#000;background:#EFEBDF;}
body{width:1020px; margin:0px auto;}
.wrapper{background-color:#F4ECCA; border-radius: 60px;}

#top{height:20px;background:#EFEBDF;padding: 6px;}
#top a {color:#8F6C56;font: 14px Arial;margin: 7px;}
#top li { display: inline; }

#footer { height: 50px;  background:#EFEBDF;}

#header {height: 80px;font: 30px Georgia;}
#header .left {margin-left: 9px; margin-top: 10px; margin-bottom: 10px;}
#header .right { height: 100%;margin-right: 27px;margin-top: 17px;}
#header .green {color: #E7685D;}
#header a {color: #8F6C56;}
#header .baseline {font: 10px Georgia; color: #E7685D; text-align: right;}

.leftbar { width: 170px; margin-left: 5px;}
.leftbar .box { width: 160px; } 
.leftbar li .title { width: 100%; height: 28px; padding-top: 10px;padding-left:10px;background-color:#8F6C56;color: #FFFFFF; font:bold 14px Georgia;border-radius: 10px;}

#page .info { padding: 5px;}

#content { width: 682px; margin-left: 185px; }
#content h1 { display: none; }
#content #toolbar {  height: 28px; padding-top: 10px;padding-left:10px;background-color:#8F6C56;color: #FFFFFF; font:bold 15px Georgia;border-radius: 10px;}
#content #toolbar li {display: inline; font:bold 14px Georgia; color: #FFFFFF; padding: 2px; border-radius: 4px;}
#content #toolbar .selected {  background-color:#F4ECCE; }
#content #toolbar .selected a {  color: #8F6C56;}
#content #toolbar a { color: #FFFFFF;margin: 7px;}
#content #menus { padding-top: 5px; }

#content #liste_menus { width: 100%;}
#content #liste_menus li { padding-top: 4px; height: 43px; font: 12px Verdana; color: #000000; border-bottom: 1px solid #B3B3B3}
#content #liste_menus li a { color: #000000;}
#content #liste_menus .link { font-size: 14px; margin-left: 30px;}
#content #liste_menus .byline { float: left; margin-left: 30px; width: 194px;}

#content #sousmenus { height: 30px; padding-top: 5px;}
#content #sousmenus .pagination { float: right; color: #000000; margin-top: 5px;}
#content #sousmenus .pagination .prevnexet { background-color: #E7685D;  border-radius: 4px; padding: 2px; }
#content #sousmenus .pagination a { color: #000000; text-decoration: underline ; }
#content #sousmenus .pagination li { display: inline; }

.button { float: left; background-color: #E7685D; color: #FFFFFF; border-radius: 4px; padding: 2px; margin: 2px;cursor:pointer}
.button .lib { float: left;}
.button a {color: #FFFFFF; }
.button .arrow { float: left; width: 10px; margin-left: 4px; background: url('/images/arrow1.png') no-repeat 0px 5px;}
.button.expanded { background-color: #C9544F; }

#sujet { height: 28px;} 
#sujet label { margin: 4px; }
#sujet input { width: 600px; height: 20px;}

.dragicon { cursor: move;}
.checkbox, .dragicon { padding: 2px; margin: 0px auto;}

.dropDown {cursor: pointer;position: absolute; z-index: 99; background: #C9544F; padding: 5px; color: #FFFFFF; border-radius: 4px;}

#organisemenu { width: 100%;  min-height: 43px; color: #000000; border-bottom: 1px solid #B3B3B3; font: 14px Verdana;}
#organisemenu ul { margin-left: 30px; padding-top: 4px; }
#organisemenu li { padding: 4px; }
#organisemenu .sortable { min-height: 20px; }


.alerte { position: relative; left: 184px; width:682px; padding: 4px; height: 30px;}
#alerte_notice { background: green; border-radius: 4px; padding: 2px;}
#alerte_error { background: red; border-radius: 4px; padding: 2px;}

#flash{  font-size:14px; text-align:center; padding: 4px;} 
.flash_html { display:inline; } 
.flash_ajax{ float: left; display: block; width:500px; top: 30px; background-color:#F4D369; padding:4px; bottom: 0; z-index: 1003; border-radius: 4px;}


.icon { background-image: url(images/ui-icons_cd0a0a_256x240.png); height: 16px; width: 16px; }
.delete_mnu {background-position: -176px -96px;}
.up_mnu { background-position: 0px -48px;}
.down_mnu {  background-position: -64px -48px;}
/*fieldset,img {border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}




/* gestion des menus */
/*#header { height: 60px; }
#undertop { height: 60px; }
#leftbar { width: 180px; }
#content {margin-left: 200px;margin-right: 200px;}

.pagination { float: right; }

.sortable { padding-bottom: 5px;}*/