<div id="searchGoogle">
	<form action="http://www.google.fr/cse" id="cse-search-box">
		<div>
			<input type="hidden" name="cx" value="partner-pub-6935144034213351:bfllcdpd9xh" />
			<input type="hidden" name="ie" value="UTF-8" />
			<input type="text" name="q" size="20" />
			<input type="submit" class="button" name="sa" value="<%=t("mdls.search")%>" />
			<input id="www" name="sitesearch" value="" type="radio"><label for="www">web</label>
			<input id="site1" name="sitesearch" value="menusdelasemaine.com" checked="checked" type="radio"><label for="site1">menudelasemaine.com</label>
		</div>
	</form>
	<script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=cse-search-box&amp;lang=fr"></script>  
</div>