<h1><%= I18n.t("mdls.how_it_works")%></h1>

<p>Menusdelasemaine.com vous permet de créer des plannings de menus hebdomadaire.
Vous pouvez aussi ajouter des menus que vous saisissez ou en branchant un lien vers un autre site.</p>

<h2>Créer mes plannings</h2>
<p>Vous pouvez déplacer les menus qui se trouvent au millieu de l'écran vers le panneau de semaine. Pour cela vous devez glisser-déplacer le menu qui vous intéresse comment illustré dans l'image suivante.</p>

<p><img  src="/images/tuto/img1.jpg"></img></p>

<p>Ainsi vous construisez vos menus en toute facilité</P>

<p><img  src="/images/tuto/img2.jpg"></img></p>
