   <OBJECT classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://fpdownload.macromedia.com/get/flashplayer/current/swflash.cab" id="Player_efb2f21d-52b6-4de1-af52-9c8a37b019c0"  WIDTH="400px" HEIGHT="150px">
 <PARAM NAME="movie" VALUE="http://ws.amazon.fr/widgets/q?ServiceVersion=20070822&MarketPlace=FR&ID=V20070822%2FFR%2Fmenudelasema-21%2F8010%2Fefb2f21d-52b6-4de1-af52-9c8a37b019c0&Operation=GetDisplayTemplate">
 <PARAM NAME="quality" VALUE="high">
 <PARAM NAME="bgcolor" VALUE="#FFFFFF">
 <PARAM NAME="allowscriptaccess" VALUE="always">
 <embed src="http://ws.amazon.fr/widgets/q?ServiceVersion=20070822&MarketPlace=FR&ID=V20070822%2FFR%2Fmenudelasema-21%2F8010%2Fefb2f21d-52b6-4de1-af52-9c8a37b019c0&Operation=GetDisplayTemplate" id="Player_efb2f21d-52b6-4de1-af52-9c8a37b019c0" quality="high" bgcolor="#ffffff" name="Player_efb2f21d-52b6-4de1-af52-9c8a37b019c0"  type="application/x-shockwave-flash" align="middle" height="150px" width="400px">
 </embed>
 </OBJECT>
 <NOSCRIPT>
 <A HREF="http://ws.amazon.fr/widgets/q?ServiceVersion=20070822&MarketPlace=FR&ID=V20070822%2FFR%2Fmenudelasema-21%2F8010%2Fefb2f21d-52b6-4de1-af52-9c8a37b019c0&Operation=NoScript">
 Widgets Amazon.fr</A>
 </NOSCRIPT>