<OBJECT classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://fpdownload.macromedia.com/get/flashplayer/current/swflash.cab" id="Player_6cf9484e-6d79-41b3-9a54-aab45b87a91c"  WIDTH="160px" HEIGHT="600px">
 <PARAM NAME="movie" VALUE="http://ws.amazon.fr/widgets/q?ServiceVersion=20070822&MarketPlace=FR&ID=V20070822%2FFR%2Fmenudelasema-21%2F8010%2F6cf9484e-6d79-41b3-9a54-aab45b87a91c&Operation=GetDisplayTemplate">
 <PARAM NAME="quality" VALUE="high">
 <PARAM NAME="bgcolor" VALUE="#FFFFFF">
 <PARAM NAME="allowscriptaccess" VALUE="always">
 <embed src="http://ws.amazon.fr/widgets/q?ServiceVersion=20070822&MarketPlace=FR&ID=V20070822%2FFR%2Fmenudelasema-21%2F8010%2F6cf9484e-6d79-41b3-9a54-aab45b87a91c&Operation=GetDisplayTemplate" id="Player_6cf9484e-6d79-41b3-9a54-aab45b87a91c" quality="high" bgcolor="#ffffff" name="Player_6cf9484e-6d79-41b3-9a54-aab45b87a91c" allowscriptaccess="always"  type="application/x-shockwave-flash" align="middle" height="600px" width="160px">
 </embed>
 </OBJECT>
 <NOSCRIPT>
 <A HREF="http://ws.amazon.fr/widgets/q?ServiceVersion=20070822&MarketPlace=FR&ID=V20070822%2FFR%2Fmenudelasema-21%2F8010%2F6cf9484e-6d79-41b3-9a54-aab45b87a91c&Operation=NoScript">
 Widgets Amazon.fr</A>
 </NOSCRIPT>
 