<h1>Contact</h1>
<% form_tag :action => "sendmail" do %>
<p><label for="email_subject">Sujet  </label><%= text_field "email", "subject",:size => "60" %></p>
<p><%= check_box_tag  "cc_mail" %> M'envoyer une copie</p>
<p><label for="email_message">Message</label></p>
<p><%= text_area "email", "message", :size => "80x20" %></p>
<p><%= submit_tag "Envoyer", :class => 'button' %></p>
<% end %>
