<h1>Editer</h1>
<% form_for @profil, :url => user_profil_path(current_user) do |f| %>
	<div id="sousmenus">
		<%= link_to I18n.t("mdls.Valider") , '#', {:class => :button, :id => :valider} %>
	</div>

  <%= render :partial => 'form', :object => f %>
  <% f.submit I18n.t('mdls.Valider')  %></p>
<% end %>

<script type='text/javascript'>
	$(document).ready(function() {
		$('#valider').click(function() {
			$("form").submit();
			return false;
		});
	});
</script>
