<h1>Liste des utilisateurs </h1>

<div>Nombre d'utilisateurs <%= User.count %>.</div>
<table class="user" width="90%">
    <tr class="titre" align="center">
      <th width="20%"><em>Utilisateur</em> </th>
      <th width="20%"><em>Créer/Activé</em> </th>
      <th width="60%"><em>Courriel</em></th>
   </tr>
   <% for user in @users %>
      <tr class="liste">
         <td><%= user.login %></td>
         <td><%= user.email.gsub(/@/, "(at)") %></td>
      </tr>  
   <% end %>
</table>

<%= will_paginate @users %>