<p>
   <!--label for="layout_name">Theme</label-->
   <!--%= select 'profil', :layout_name, @themes %-->
   <label for="style_menu">Style des menus</label>
   <%= select "profil", :style_menu, [["Standard","semaine_style"],["Liste","liste_style"]] %>
</p>
<p>
   <label for="style_menu">Premier jour de la semaine</label>
   <%= select "profil", :first_day, $week %>
</p>      
