<p>
   <label for="layout_name">Theme</label>
   <%= select 'profil', :layout_name, [["Standard",'CitrusIsland'],["Theme2",'harvestfield'], ["Theme3",'coolwater']] %>
   <label for="style_menu">Style des menus</label>
   <%= select 'profil', :style_menu, [["Standard",'semaine_style'],["Liste",'liste_style']] %>
</p>