<% session[:choix].each do |menusliste| %>
  <% if menusliste.day==day and menusliste.when==midisoir %>
   <div id="item_<%=menusliste.menu_id%>" class="menu-items"> 
      <div class="cart_elt">
	    <%= link_to url_for(:controller => "choixmenu", :action => "remove", :id => menusliste.menu_id, :day => day, :midisoir => midisoir), :class => "rm_cart" do %>
			<%= image_tag("icones/delete.gif") %>
		<% end %>
        <%= Menu.find(menusliste.menu_id).title %>
      </div>            
   </div>
   <div class="menu-items-bottom">
   </div>
   <% end %>
<% end %>
<% if session[:choix].empty? %>
  <div class="empty_cart"></div>
<% end %>

