<h1>Ingredients </h1>
<% session[:choix].each do |menusliste| %>
  <% menu=Menu.find_by_id(menusliste.menu_id) %>  
  <ul>
    <% if menu and menu.ingredients %>
      <%= simple_format h(menu.ingredients) %>
    <% end %>
  </ul>
<% end %>