   <h1>Nouveau type</h1>
<% form_tag :action => 'create' do %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Créer", :class => 'button'  %>
<% end %>

<p class="post-footer align-right">	
<div class="links">
<%= link_to 'Back', :action => 'list' %>
</div>
</p>
