<h1>Types de menus</h1>
<table class="menu">
  <tr>  
    <th><em>Type</em></th>
  </tr>
  
<% for menutype in @menutypes %>
  <tr>
    <td><%= link_to %Q{#{menutype.name}}, menutype_path(menutype) %>
        <%= link_to '(delete)', menutype, :confirm => 'Are you sure?', :method => :delete %>
   </td>
  </tr>
<% end %>
</table>

<%= will_paginate @menutypes %>

<div class="post-footer">	
<p class="links">
<%= link_to "Nouveau type", new_menutype_url %>
</p>
</div>


