<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta name="viewport" content="width=320; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
        <!--link rel="apple-touch-icon" href="http://iui.googlecode.com/svn/tags/REL-current/samples/iui/iui-logo-touch-icon.png"-->
        <meta name="apple-touch-fullscreen" content="YES">
        <style type="text/css" media="screen">@import "/stylesheets/iui.css";</style>
        <%= javascript_include_tag "iui" %>
    </head>
    <body>
        <div class="toolbar">
            <h1 id="pageTitle"></h1>
            <a id="backButton" class="button" href="#"></a>
            <%= link_to t("mdls.search"), {:controller => "recherche", :action => "search"}, :class => "button" %>
        </div>
        <%=yield %>
    </body>
</html>
