<% @menuslistes.each do |menusliste| %>
<% if @week[menusliste.day]==day and @midisoir[menusliste.when]==midisoir %>
<li>
        <div class="menu_gauche">
        </div>
        <div class="menu_droit">
            <%= link_to %Q{#{Menu.find(menusliste.menu_id).title}}, :controller => "menus",  :action => "show", :id => menusliste.menu_id %>
        </div>
</li>
<% end %>
<% end %>
