<%= error_messages_for "planning" %>

<!--[form:planning]-->
<p><label for="planning_name">Nom</label><br/>
<%= text_field "planning", "name"  %></p>

<p><label for="planning_public">Laisser les autres utilisateurs voirent cette liste</label><br/>
<%= check_box "planning", "public"   %></p>
<!--[eoform:planning]-->

