<div class='organise ui-widget-content'>
<div class="title ui-widget-header"><%= title %></div>
<table id='sortable_<%=jour%>' class='sortable'>
	<col class="null">
	<col class="coldel">
	<col class="colup">
	<col class="coldown">
	<tbody>
		<% @liste.select{|m| m.day == jour}.each do |plan| %>
			<% menu = Menu.find_by_id(plan.menu_id) %>
			<tr id='<%= menu.id.to_s %>'>
				<td class="tdtext"><%= menu.title %></td>
				<td class='delete_mnu ui-icon ui-icon-trash right cr_pointer'></td>
				<td class='up_mnu ui-icon ui-icon-arrowthick-1-n right cr_pointer'></td>
				<td class='down_mnu ui-icon ui-icon-arrowthick-1-s right cr_pointer'></td>
			</tr>
		<% end %>
	</tbody>
</table> 
</div>
