<h1>Organiser</h1>
<div id="sousmenus">
<% if (current_user) %>   
  <%= link_to t("mdls.create"), "#", { :id => 'create-planning', :class => 'button'} %>
<% end %>
</div>

<%= render :partial => 'content' %>


